* {
  box-sizing: border-box;
}
body{
    width: 1250px;
    font-family: lato,sans-serif; 
  }
  .container {
    width: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: #eee;
  }
  #header-img{
    width: 320px;
    height: 38px;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  #header{
    display: flex;
    justify-items: end;
    position: fixed;
    width: 1250px;
    height: 80px; 
    background-color: #eee;
    margin-top: -10px;
    overflow: hidden;
    z-index: 2;

  }
  #nav-bar{
    font-family: lato,sans-serif;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .nav-link{
    padding: 40px;
    text-decoration: none;
    color: black;
  }
  #form{
    display: block;
    text-align: center; 
    font-family: lato,sans-serif; 
    font-size: 17px;
    padding-top: 80px;
    height: 300px;
  }
  #email{
    width: 290px;
    height: 30px;
  }
  #submit{
    width: 150px;
    height: 30px;
    background-color: #ffd500;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 15px; 
    border: none;
    border-radius: 2px;
    font-size: 16;
    padding-left:10px; 
    font-family: lato,sans-serif; 
  }
  #submit:hover{
    background-color: #faa70e;
  }
  #icon1{
    position: absolute;
    top: 320px;
    left: 220px;
    z-index: 1;
  }
  #icon2{
    position: absolute;
    top: 450px;
    left: 220px;
    z-index: 1;
  }
  #icon3{
    position: absolute;
    top: 570px;
    left: 220px;
    z-index: ś1;
  }
  .main1, .main2, .main3{
    width: 820px;
    height: 100px;

  }
  h2{
    line-height: 1; 
  }
  .main p{
    margin-top: -10px; 
    margin-bottom: 65px;
  }
  
  .main-sec{
    padding-left: 350px
    
  }
  #pricing{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #video{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sec1{
    margin-top: 50px;
    margin-right: 20px;
    width: 280px;
    height: 330;
    border: 1px solid black;
    border-radius: 5px;
  }
  h4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    height: 50px;
    width: 279px;
    margin-top: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .sec1 p, h1, .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1 ; 
  }
  .btn{
    border-radius: 1px;
    border: none;
    background-color: #ffd500;
    width: 100px;
    height: 35px;
    text-transform: uppercase;
    margin: 40px 0 20px 90px;
  
  }
  .btn:hover{
    background-color: #faa70e;
  }
  #footer-content {
    background-color: #ddd;
    width: 960px;
    margin: 30px 150px 0 150px; 
  }
 #name, h5{
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 0 0;

  }
  
  span{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    color: #444;
    font-size: 14px;
  }

  @media (width: 970px){
    body{
      width: 970px;
      display: block;
      justify-content: center;
      align-items: center;

    }
  }